#essay
{
    width: 715px;
    margin: 0px auto;
   	font-family: Arial, Helvetica, sans-serif;
}

#essay-title {
	text-align: center;
	margin: 0px auto;
	margin-bottom: 5%;
}


#essay .intro {
	text-indent: 50px;
}