html {
	/* Hide scrollbar for IE, Edge and Firefox */
   	-ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: none;  /* Firefox */
}

img{
	height: 540px;
	border-radius:8px;
	max-width:100%;
	object-fit: contain;
	background-color: black;
}

#site-branding {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px auto;
	text-align: center;
	margin-bottom: 5%;
	}

#site-title {
	margin-top: 5%;
  	font-size: 25px;
}

/* Style the links inside the navigation bar */
#site-title a {
	display: block;
	text-decoration: underline;
	color: black;
}

/* Wanna do something on hover? */
#site-title a:hover {
  /* background-color: #ddd;*/
}

#site-title p {
	display: block;
	text-decoration: none;
	color: black;
	margin-top: 0px;
	margin-bottom: 0px;
}

#homepage {
	overflow: hidden;
    width: 715px;
    margin: 0px auto;
   	font-family: Arial, Helvetica, sans-serif;
   	text-align: center;
}

#homepage a{
	display: block;
	text-decoration: underline;
	color: black;
	font-size: 25px
}

#homepage img{
	margin-top: 15px;
}

#homepage .subpage-link{
	text-align: center;
}