html {
	/* Hide scrollbar for IE, Edge and Firefox */
   	-ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: none;  /* Firefox */
}

img{
	border-radius:8px;
	max-width:100%;
	height:auto;
}

#site-branding {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px auto;
	}

#site-title {
	text-align: center;
	margin-top: 5%;
  	overflow: hidden;
  	font-size: 25px;
}

/* Style the links inside the navigation bar */
#site-title a {
	display: block;
	text-decoration: underline;
	color: black;
	
}

/* Change the color of links on hover */
#site-title a:hover {
  /* background-color: #ddd;*/
}

/* Add an active class to highlight the current page */
#site-title a.active {
	background-color: #04AA6D;
}

#site-title p {
	display: block;
	text-decoration: none;
	color: black;
	margin-top: 0px;
	margin-bottom: 0px;
}

#site-desc {
	text-align: center;
}

#homepage {
	overflow: hidden;
    width: 715px;
    margin: 0px auto;
   	font-family: Arial, Helvetica, sans-serif;
   	text-align: center;
}

#homepage a{
	display: block;
	text-decoration: underline;
	color: black;
	font-size: 25px
}

#homepage h1{
	text-align: left;
}

#homepage .subpage-link{
	text-align: center;
}

#essay
{
    width: 715px;
    margin: 0px auto;
   	font-family: Arial, Helvetica, sans-serif;
}


#essay .name{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px
}


#essay .subheading {
}

#essay .intro {
	text-indent: 50px;
}

#essay .body-paragraph {
	text-indent: 50px;
}